@{
    Layout = "~/Views/Shared/_LayoutThemed.cshtml";
}

@section styles {

    <style></style>

}

<div class="card">
    <div class="card-header">
        <h2>Add Your Workout Entry Here!</h2>
    </div>

    <div class="card-body card-padding" ng-controller="WorkoutsController as main">
        <form name="main.workoutsForm" ng-submit="main.submitForm(main.workoutsForm.$valid)" novalidate>

            <div class="form-group" ng-class="{'has-error' : main.workoutsForm.workoutName.$invalid && main.workoutsForm.$submitted }">
                <label for="workoutName" class="col-sm-2 control-label">Workout Name</label>
                <div class="col-sm-10">
                    <div class="fg-line">
                        <input type="text" class="form-control" name="workoutName" ng-model="main.workout.workoutName" placeholder="Add a name for your workout" required>
                        <span ng-show="main.workoutsForm.workoutName.$invalid && main.workoutsForm.$submitted" class="help-block" style="color: red; display: block;">Please enter a name for your workout</span>
                    </div>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error' : main.workoutsForm.workoutNote.$invalid && main.workoutsForm.$submitted }">
                <label for="workoutNote" class="col-sm-2 control-label">Workout Note</label>
                <div class="col-sm-10">
                    <div class="fg-line">
                        <input type="text" class="form-control" name="workoutNote" ng-model="main.workout.workoutNote" placeholder="Add any notes for your workout" required>
                        <span ng-show="main.workoutsForm.workoutNote.$invalid && main.workoutsForm.$submitted" class="help-block" style="color: red; display: block;">Please enter some notes from your workout</span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary btn-sm firstClick">Submit Your Event</button>
                    <button type="button" class="btn btn-danger" ng-click="main.reset()">Reset</button>
                    <a type="button"
                       class="btn palette-Pink bg"
                       ng-href="/weightliftingexercises/create?workoutId={{main.appConfig.item}}"
                       ng-show="main.appConfig && main.appConfig.item">
                        Add Exercises to this workout
                    </a>
                </div>
            </div>

        </form>

    </div>
</div>

@section scripts {

    <script src="~/Scripts/services/services.workoutsfactory.js"></script>

    <script type="text/javascript">
        (function () {
            "use strict";

            angular.module(APPNAME).controller("WorkoutsController", WorkoutsController);

            WorkoutsController.$inject = ["$scope", "appConfig", "workoutsDataFactory"];

            function WorkoutsController($scope, appConfig, workoutsDataFactory) {
                var vm = this;
                vm.$scope = $scope;
                vm.appConfig = appConfig;
                vm.workoutsDataFactory = workoutsDataFactory;
                vm.submitForm = _submitForm;

                function _submitForm(isValid) {
                    if (isValid) {
                        var workoutInfo = {
                            workoutName: vm.workout.workoutName,
                            workoutNote: vm.workout.workoutNote
                        }

                        vm.workoutsDataFactory.insertWorkout(workoutInfo)
                            .then(function (response) {
                                this.status = 'Inserted Workout!';
                                //this.workoutsList.push(workoutInfo);
                            }, function (error) {
                                this.status = 'Unable to insert workout: ' + error.message;
                            });
                    }
                }
            }
        })();
    </script>

}
