@{
    Layout = "~/Views/Shared/_LayoutThemed.cshtml";
}

@section styles {

    <style></style>

}

<div class="card">
    <div class="card-header">
        <h2>Add Your Workout Entry Here!</h2>
    </div>

    <div class="row card-body card-padding" ng-controller="WorkoutsController as main">
        <form class="form-horizontal" name="main.workoutsForm" ng-submit="main.submitForm(main.workoutsForm.$valid)" novalidate>

            <div class="form-group" ng-class="{'has-error' : main.workoutsForm.workoutName.$invalid && main.workoutsForm.$submitted }">
                <label for="workoutName" class="col-sm-2 control-label">Workout Name</label>
                <div class="col-sm-10">
                    <div class="fg-line">
                        <input type="text" class="form-control" name="workoutName" ng-model="main.workout.workoutName" placeholder="Add a name for your workout" required>
                        <span ng-show="main.workoutsForm.workoutName.$invalid && main.workoutsForm.$submitted" class="help-block" style="color: red; display: block;">Please enter a name for your workout</span>
                    </div>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error' : main.workoutsForm.workoutNote.$invalid && main.workoutsForm.$submitted }">
                <label for="workoutNote" class="col-sm-2 control-label">Workout Note</label>
                <div class="col-sm-10">
                    <div class="fg-line">
                        <input type="text" class="form-control" name="workoutNote" ng-model="main.workout.workoutNote" placeholder="Add any notes for your workout" required>
                        <span ng-show="main.workoutsForm.workoutNote.$invalid && main.workoutsForm.$submitted" class="help-block" style="color: red; display: block;">Please enter some notes from your workout</span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                    <button type="button" class="btn btn-danger btn-sm" ng-click="main.resetForm()">Reset</button>
                </div>
            </div>

        </form>

    </div>
</div>

@section scripts {

    <script src="~/Scripts/services/services.workoutsfactory.js"></script>

    <script type="text/javascript">
        (function () {
            "use strict";

            angular.module(APPNAME).controller("WorkoutsController", WorkoutsController);

            WorkoutsController.$inject = ["$scope", "appConfig", "workoutsDataFactory", '$window'];

            function WorkoutsController($scope, appConfig, workoutsDataFactory, $window) {
                var vm = this;
                vm.$scope = $scope;
                vm.appConfig = appConfig;
                vm.$window = $window;
                vm.workoutsDataFactory = workoutsDataFactory;
                vm.submitForm = _submitForm;
                vm.resetForm = _resetForm;

                //success and error functions
                vm.onCompletionInsert = _onCompletionInsert;
                vm.onFailureInsert = _onFailureInsert;

                function _submitForm(isValid) {
                    if (isValid) {
                        var workoutInfo = {
                            workoutName: vm.workout.workoutName,
                            workoutNote: vm.workout.workoutNote
                        }

                        vm.workoutsDataFactory.insertWorkout(workoutInfo)
                            .then(_onCompletionInsert)
                            .catch(_onFailureInsert);
                    }
                }

                function _onCompletionInsert(response) {
                    console.log(response);
                    var insertedId = response.data.Item;
                    vm.$window.location.href = "/weightexercises/create?workoutId=" + insertedId;
                }

                function _onFailureInsert(error) {
                    console.log(error);
                }

                function _resetForm() {
                    vm.workout.workoutName = null;
                    vm.workout.workoutNote = null;
                }
            }
        })();
    </script>

}
